{% load static %}
<!DOCTYPE html>
<html>
    <head>
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
      <link rel="stylesheet" href="{% static 'blog/tagsinput.css' %}" />
      <link rel="stylesheet" href="{% static 'blog/issuetracker_style.css' %}" />

    	<!-- Website title and logo -->
		  <title>IssueTracker</title>
      <link rel="icon" href="{% static 'blog/IssueTracker_Logo.png' %}">
      <script src="https://cdn.tiny.cloud/1/d3ybxjdg3551popw6ium8p70cc82tgln8qwiu8yrc9x9v6rm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> 
      <script>tinymce.init({selector:'textarea'});</script>
    </head>
    <body>
        <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
				      <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">IssueTracker<small><i>(beta)</i></small></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
              
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="{% url 'blog-home' %}">post</a>
		       {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'post-private' %}">private</a>
		       {% endif %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
		               {% if user.is_authenticated %}
		                   <a class="nav-item nav-link" href="{% url 'post-create' %}">new post</a>
		                   <a class="nav-item nav-link" href="{% url 'privatepost-create' %}">new private</a>
		                   <a class="nav-item nav-link" href="{% url 'profile' %}">profile</a>
		                   <a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
		               {% else %}
                       <a class="nav-item nav-link" href="{% url 'login' %}">login</a>
                       <a class="nav-item nav-link" href="{% url 'register' %}">register</a>
		               {% endif %}
                </div>
              </div>
            </div>
          </nav>
        </header>

        <main role="main" class="container">
          <div class="row">
            <div class="col-md-8">
      	      {% if messages %}
      	        {% for message in messages %}
      		        <div class="alert alert-{{ message.tags }}">
      			        {{ message }}
      	 	        </div>
        		    {% endfor %}
	            {% endif %} 
              {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
              <div class="content-section">
		            <h5><img class="article-img" src="{% static 'blog/IssueTracker_Logo.png' %}">IssueTracker<small><i>(beta)</i></small></h5>
                <p class='text-muted'> more on IssueTracker...
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{% url 'blog-about' %}">about IssueTracker</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'search-form' %}">search post</a></li>
		       {% if user.is_authenticated %}
                    <li class="list-group-item list-group-item-light"><a href="{% url 'privatesearch-form' %}">search private</a></li>
               {% endif %}
                    <li class="list-group-item list-group-item-light"><a href="{% url 'website-stats' %}">IssueTracker statistics</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'author-list' %}">author list</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'tag-list' %}">tag list</a></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </main>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/tagsinput.js"></script>
    <script>
    $("#post-form").submit(function(e){
        e.preventDefault();
        });
    </script>
    </body>
</html>
