{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/inline/ckeditor.js"></script>
    <div class="content-section">
	<form method="POST" enctype="multipart/form-data" autocomplete="off">
	    {% csrf_token %}
	    <fieldset class ="form-group">
			<legend class="border-bottom mb-4">new post/update post{% if level == "private" %} (private) {% endif %}</legend>
			{{ form | crispy }}
	    </fieldset>
	    <div class="from-group">
			<button class="btn btn-outline-info" type="submit">Post</button>
	    </div>
	</form>
	</div>
{% endblock content %}

