{% extends "blog/base.html" %}
{% block content %}
<article>  <!-- class="media content-section"> -->
	<div class="border-top border-warning"></div>
  <div class="media-body">
    <div class="article-metadata">
      <img class="rounded article-img mt-1 mb-0" src="{{ object.author.profile.image.url }}">
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"M d, Y" }}</small>
	    {% if object.author == user %}
      <a class="btn btn-danger btn-sm mt-1 mb-1 float-right" href="{% url 'post-delete' object.id %}">Del</a>
        <a class="btn btn-secondary btn-sm mt-1 mb-1 mr-1 float-right" href="{% url 'post-update' object.id %}">Update</a>
	    {% endif %}
    </div>
  </div>
  <h4 class="article-title mt-2 mb-2">{{ object.title }}</h4>
  {% if object.image %}
		<div class="row">
      <img class="w-100 h-100 img-fluid" src="{{ object.image.url }}" alt = "Image for this post"> 
		</div>
  {% endif %}
	<div style="display:flex">
    {% for tag in object.tags.all %}
      <a href="{% url 'tagged-posts' tag.id %}" class="badge badge-info mt-1" >#{{ tag }}</a>
    {% endfor %}
	</div>
  <p class="article-content mt-2 mb-1">{{ object.content | safe }}</p>
</article>
<p align = 'right'><small class="text-muted">-- issuetracker post</small><p>
<a class="btn btn-primary btn-sm mt-1 mb-1 float-right" href="{% url 'post-compact-list' %}">List</a>
<a class="btn btn-primary btn-sm mt-1 mb-1 mr-1 float-right" href="{% url 'blog-home' %}">Posts</a>
<br/>
<br/>
<!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24mBCtLfsXd543C.a2zC13N."+"&opts=16862&num=10&ts=1579140428139");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->
{% endblock content %}
