{% extends "blog/search_form_base.html" %}
{% block post-list-view1 %}
{% block post-list-view2 %}
{% block post-list-view3 %}
{% block post-list-view1p %}
{% block post-list-view2p %}
    <div class="list_indent">
        <a class="ml-2 mr-2" href="{% url postroot_compact_list user %}">{{ post.author }}</a>
    	<a class="article-title mt-2 mb-2 mr-3" href="{% url postroot_detail post.id %}">{{ post.title }}</a>
    	{% for tag in post.tags.all %}
    		<a href="{% url tag_postroot_list tag.id user %}" class="mr-1 mt-1">#{{ tag }}</a>
        {% endfor %}
        <small class="text-muted"> {{ post.date_posted|date:"M d, Y H:m" }}</small>
        <br/>
    </div> 
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}


{% block paginator1 %}
{% block paginator2 %}
{% block paginator3 %}
{% if page_obj.num_pages > 1 %}
<div class="float-right">
    {% if current_page.has_previous %}
	    <a class="btn btn-outline-info mb-4" href="?search_term={{search_term}}&{{page}}=1">first</a>
		<a class="btn btn-outline-info mb-4" href="?search_term={{search_term}}&{{page}}={{ current_page.previous_page_number }}">prev</a>
	{% endif %}

	{% for num in page_obj.page_range %}
        {% if current_page.number == num %}
			<a class="btn btn-info mb-4" href="?search_term={{search_term}}&{{page}}={{ num }}">{{ num }}</a>
		{% elif num > current_page.number|add:'-3' and num < current_page.number|add:'3' %}
			<a class="btn btn-outline-info mb-4" href="?search_term={{search_term}}&{{page}}={{ num }}">{{ num }}</a>
		{% endif %}
	{% endfor %}

	{% if current_page.has_next %}
		<a class="btn btn-outline-info mb-4" href="?search_term={{search_term}}&{{page}}={{ current_page.next_page_number }}">next</a>
		<a class="btn btn-outline-info mb-4" href="?search_term={{search_term}}&{{page}}={{ current_page.num_pages }}">last</a>
	{% endif %}
</div>
</br>
{% endif %}
{% endblock %}
{% endblock %}
{% endblock %}
