{% extends "blog/base.html" %}
{% block content %}
    {% for tag in public_tags %}
    	<div class="list_indent">
            <a class="mr-2" href="{% url 'tagged-posts' tag.id %}">{{ tag.name }}</a> ({{ public_tag_article_count|get_item:tag.name }} articles)
		</div> 
    {% endfor %}
    {% if user.is_authenticated %}
    <br>
    <p>Private tags for {{ user.username }}</p>
    {% for tag in private_tags %}
    	<div class="list_indent">
            <a class="mr-2" href="{% url 'tagged-privateposts' tag.id %}">{{ tag.name }}</a> ({{ private_tag_article_count|get_item:tag.name }} articles)
		</div> 
    {% endfor %}
    {% endif %}
	{% if is_paginated %}
        {% if page_obj.has_previous %}
	        <a class="btn btn-outline-info mb-4" href="?page=1">first</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">prev</a>
	    {% endif %}

	    {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
		    	<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
	            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

        {% if page_obj.has_next %}
	        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
		 	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last</a>
	    {% endif %}
	{% endif %}
    <br/>
{% endblock content %}

